<ngx-spinner class="ball-scale-multiple"></ngx-spinner>
<form ngNativeValidation (submit)="dinamalarNews()">
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
        <table  [style.display]="none" class="table table-bordered">
            <thead>
                <tr>
                    <th>DATE </th>
                    <th>Dinamalar</th>
                </tr>
            </thead>
            <tbody id="display">
                <tr *ngFor="let item of value">
                    <td>{{item.date}}</td>
                    <td><a href="{{item.dinamalar}}">Link</a></td>
                </tr>
            </tbody>
        </table>
</form>
