
<!-- <form ngNativeValidate (submit)="Nameid()">
    <div>
        <input type="text" id="number" name="number" [(ngModel)]="number" placeholder="Enter ID" required autofocus>
        <br>
        <textarea id="name"name="name" rows="4" cols="50" [(ngModel)]="name"placeHolder="Enter Query" required Autofocus></textarea>
            <button type="submit" class="btn btn-primary">Submit query</button> &nbsp;
           
           
        </div>
</form> -->
<ngx-spinner class="ball-scale-multiple"></ngx-spinner>
<form>
    <table [style.display]="none" class="table table-bordered">
        <thead>
            <tr>
                <th> Id</th>
                <th> Send Query</th>
                <th> Reply-Query </th>

            </tr>
        </thead>
        <tbody id="display" *ngFor="let value of item">

            <tr *ngIf="value.reply==null">

                <td>{{value.userId}} </td>
                <td>{{value.userQuery}}</td>
                <td>{{value.reply}}<br> <textarea id="name" name="name" rows="2" cols="20" [(ngModel)]="name"
                        placeHolder="Enter Query" required Autofocus></textarea>

                    <li class="list-group-item"> <button type="button"
                            (click)="reply(value.userId,value.userQuery)">REPLY</button></li>

            </tr>

        </tbody>
    </table>
</form>

