<ngx-spinner type="ball-spin-clockwise"></ngx-spinner>
<section id="cardDetails">
    <div class="card" style="width:75%">
        <div  *ngIf="value != null" class="shadow p-3 mb-0 bg-body  rounded">
            <div>
                <h1 style="text-align:center; ">PROFILE INFORMATION</h1>
            </div>
            <hr>


            <div>
                <h1 id="d1">ID<span style="margin-left:274px;">:</span><span style="margin-left:100px;">{{value.id}}</span></h1>
            </div>
            <div>
                <h1 id="d2">NAME<span style="margin-left:194px;">:</span><span style="margin-left:100px;"> {{value.name}}</span></h1>
            </div>
            <div>
                <h1 id="d3">EMAIL<span style="margin-left:178px;" >:</span><span style="margin-left:100px;">{{value.email}}</span></h1>
            </div>
            <div>
                <h1 id="d4">USER-TYPE<span style="margin-left:85px;">:</span><span style="margin-left:100px;">{{value.userType}}</span></h1>
            </div>
            <div>
                <h1 id="d5">CONTACT<span style="margin-left:115px;">:</span><span style="margin-left:100px;"> {{value.mobile}}</span></h1>
                
            </div>
            <div>
                <h1 id="d6">FINE<span style="margin-left:217px;">:</span><span style="margin-left:100px;">{{value.fine}}</span></h1>
                
            </div>
            <hr>
        </div>
    </div>
</section>
