#cardDetails{
    margin-left: 600px;
    margin-top: 150px;
}

#d1{
    font-weight: 800;
    margin-top:30px;
    font-family: serif;
    font-size:40px;
}
#d2{
    margin-top:35px;
    font-weight: 800;
  
    font-family: serif;
    font-size:40px;
}
#d3{
    margin-top:40px;
    font-weight: 800;
   
    font-family: serif;
    font-size:40px;
}
#d4{
    margin-top:45px;
    font-weight: 800;
  
    font-family: serif;
    font-size:40px;
}
#d5{
    margin-top:50px;
    font-weight: 800;
  
    font-family: serif;
    font-size:40px;
}
#d6{
    margin-top:55px;
    font-weight: 800;
  
    font-family: serif;
    font-size:40px;
}

