<section id="cardDetails">
    <div class="card" style="width:75%">
        <div class="shadow p-3 mb-0 bg-body  rounded">
            <div>
                <h1 style="text-align:center; ">CONTACT INFORMATION</h1>
            </div>
            <hr>


            <div>
                <h1 id="d1">NAME<span style="margin-left:209px;">:</span><span style="margin-left:100px;">SELVAMANI</span></h1>
            </div>
            <div>
                <h1 id="d2">EMAIL<span style="margin-left:194px;">:</span><span style="margin-left:100px;">selva872000@gmail.com</span></h1>
            </div>
            <div>
                <h1 id="d3">LINKED-IN<span style="margin-left:112px;" >:</span><span style="margin-left:100px;">SELVAMANI S</span></h1>
            </div>
            <div>
                <h1 id="d4">TWITTER<span style="margin-left:135px;">:</span><span style="margin-left:100px;"> SELVAMANI</span></h1>
            </div>
            <div>
                <h1 id="d5">CONTACT<span style="margin-left:127px;">:</span><span style="margin-left:100px;">6383495522</span></h1>
                <hr>
            </div>
        </div>
    </div>
</section>

